<center>
    <div style="background-color: whitesmoke;
                box-shadow: 1em 1em 1em 1em rgba(13, 13, 13, 0.2);
                border-radius: 3em;
                padding: 4em 1em ;
                width: calc(30%);
                height: calc(15%);">
        <h3 style="font-family: Cursive,Fantasy;">Backend Auth</h3>
        <p>Hola <strong style="font-family: Cursive,Fantasy;">{{ user.first_name }}!</strong></p>
        <p>Por favor activa tu cuenta en el siguiente link:</p>
        <a href={{ protocol }}://{{ domain }}/{{ path }}/{{ token }}
            style="text-decoration: none;
                background-color: #0781e6;
                border-radius: 1em;
                padding: 15px 32px;
                font-size: 16px;" >
                <span style="color: white;
                        text-align: center;
                        font-family: Cursive,Fantasy;
                        ">
                    Activa tu cuenta
                </span>
        </a>
    </div>
</center>